body {
  margin: 0;
  width: 100%;
  height: 100dvh;
  padding: 15px;
}

:root {
  background-color: #282c34;
  color: white;
  /* min-height: 300vh; */
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

* {
  font: inherit;
  box-sizing: border-box;
}

.camera-preview {
  position: fixed;
  bottom: 2px;
  left: 2px;
  z-index: 999999;
  pointer-events: none;
  display: block;
  max-width: 50%;
  max-height: 50%;
  outline: 1px solid red;
}
