.dialogPositioner {
  @apply h-vh supports-[(height:100dvh)]:h-dvh top-0 left-0 w-full fixed grid p-8;

  @screen lt-xs {
    @apply p-4;
  }
}

.dialogBackdrop {
  @apply absolute top-0 left-0 w-full h-full bg-black bg-opacity-50 backdrop-blur-sm;
}

.dialogContent {
  @apply bg-white color-dark-9 rounded-lg shadow-lg place-self-center relative flex
  flex-col max-h-[calc(100dvh-4rem)] max-w-md px-[min(8%,3rem)] py-[min(8%,1.5rem)];

  &.large {
    @apply px-[min(8%,4rem)] py-[min(8%,3rem)];
  }

  &.compact {
    @apply p-[min(8%,1.5rem)];

    @media screen and (max-height: 500px) {
      @apply h-auto;
    }
  }

  @media screen and (max-height: 500px) {
    @apply h-full px-[min(8%,1.5rem)] py-[min(8%,0.5rem)] max-h-[calc(100dvh-2rem)] overflow-hidden;
  }

  @screen sm {
    @apply max-w-xl;
  }

  @screen lg {
    @apply max-w-md;
  }
}

.dialogTitle {
  @apply text-2xl font-bold text-center;
}

.contentOut {
  @apply h-full;
}

.closeButton {
  @apply absolute top-2.5 right-2.5 w-8 h-8 flex items-center justify-center
  bg-transparent border-none transition-colors transition-duration-100
  hover:bg-gray-100 active:bg-gray-200;
}

.closeButtonInner {
  @apply w-3.5 h-3.5;
}

.primaryActionButton {
  @apply btn-primary;
}

.secondaryActionButton {
  @apply btn-secondary;
}

.actions {
  @apply flex gap-4;

  .primaryActionButton,
  .secondaryActionButton {
    @apply w-1/2;
  }
}

.alertTitle {
  @apply text-lg font-normal text-gray-700;
}

.alertText {
  @apply text-gray-500 text-center text-pretty line-height-normal font-light px-2 mt-4 mb-8;
}
